.button_GO_HOSPITAL {
    text-decoration: none;
    text-align: center;
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #5c8aff;
    background-image: -moz-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    background-image: -webkit-linear-gradient(top, #5c8aff 0%, #4366bf 100%)!important;
    background-image: -o-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    background-image: -ms-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4366bf', endColorstr='#4366bf', GradientType=0);
    background-image: linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_GO_HOSPITAL:hover {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #a6bfff;
    background-image: -moz-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    background-image: -webkit-linear-gradient(top, #a6bfff 0%, #6892fc 100%)!important;
    background-image: -o-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    background-image: -ms-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6892fc', endColorstr='#6892fc', GradientType=0);
    background-image: linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_GO_HOSPITAL:active {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #5c8aff;
    background-image: -moz-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    background-image: -webkit-linear-gradient(top, #5c8aff 0%, #4366bf 100%)!important;
    background-image: -o-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    background-image: -ms-linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4366bf', endColorstr='#4366bf', GradientType=0);
    background-image: linear-gradient(top, #5c8aff 0%, #4366bf 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_GO_HOSPITAL:focus {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #a6bfff;
    background-image: -moz-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    background-image: -webkit-linear-gradient(top, #a6bfff 0%, #6892fc 100%)!important;
    background-image: -o-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    background-image: -ms-linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6892fc', endColorstr='#6892fc', GradientType=0);
    background-image: linear-gradient(top, #a6bfff 0%, #6892fc 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_FREE {
    text-decoration: none;
    text-align: center;
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #85c485;
    background-image: -moz-linear-gradient(top, #85c485 0%, #00c700 100%);
    background-image: -webkit-linear-gradient(top, #85c485 0%, #00c700 100%)!important;
    background-image: -o-linear-gradient(top, #85c485 0%, #00c700 100%);
    background-image: -ms-linear-gradient(top, #85c485 0%, #00c700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c700', endColorstr='#00c700', GradientType=0);
    background-image: linear-gradient(top, #85c485 0%, #00c700 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_FREE:hover {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #a1eda1;
    background-image: -moz-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -webkit-linear-gradient(top, #a1eda1 0%, #03ed03 100%)!important;
    background-image: -o-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -ms-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03ed03', endColorstr='#03ed03', GradientType=0);
    background-image: linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_FREE:active {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #a1eda1;
    background-image: -moz-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -webkit-linear-gradient(top, #a1eda1 0%, #03ed03 100%)!important;
    background-image: -o-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -ms-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03ed03', endColorstr='#03ed03', GradientType=0);
    background-image: linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_FREE:focus {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #a1eda1;
    background-image: -moz-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -webkit-linear-gradient(top, #a1eda1 0%, #03ed03 100%)!important;
    background-image: -o-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    background-image: -ms-linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03ed03', endColorstr='#03ed03', GradientType=0);
    background-image: linear-gradient(top, #a1eda1 0%, #03ed03 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_ON_EVENT {
    text-decoration: none;
    text-align: center;
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f2b8ff;
    background-image: -moz-linear-gradient(top, #f2b8ff 0%, #d526fc 100%);
    background-image: -webkit-linear-gradient(top, #f2b8ff 0%, #d526fc 100%)!important;
    background-image: -o-linear-gradient(top, #f2b8ff 0%, #d526fc 100%);
    background-image: -ms-linear-gradient(top, #f2b8ff 0%, #d526fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d526fc', endColorstr='#d526fc', GradientType=0);
    background-image: linear-gradient(top, #f2b8ff 0%, #d526fc 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_ON_EVENT:hover {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f8dbff;
    background-image: -moz-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -webkit-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%)!important;
    background-image: -o-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -ms-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd6bf7', endColorstr='#dd6bf7', GradientType=0);
    background-image: linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_ON_EVENT:active {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f8dbff;
    background-image: -moz-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -webkit-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%)!important;
    background-image: -o-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -ms-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd6bf7', endColorstr='#dd6bf7', GradientType=0);
    background-image: linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}

.button_ON_EVENT:focus {
    padding: 2px 4px;
    border: solid 1px #004F72;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f8dbff;
    background-image: -moz-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -webkit-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%)!important;
    background-image: -o-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    background-image: -ms-linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd6bf7', endColorstr='#dd6bf7', GradientType=0);
    background-image: linear-gradient(top, #f8dbff 0%, #dd6bf7 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.button_CRASH_CAR {
    text-decoration: none;
    text-align: center;
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #fc3f3f;
    background-image: -moz-linear-gradient(top, #fc3f3f 0%, #a6a6a6 100%);
    background-image: -webkit-linear-gradient(top, #fc3f3f 0%, #a6a6a6 100%)!important;
    background-image: -o-linear-gradient(top, #fc3f3f 0%, #a6a6a6 100%);
    background-image: -ms-linear-gradient(top, #fc3f3f 0%, #a6a6a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6a6a6', endColorstr='#a6a6a6', GradientType=0);
    background-image: linear-gradient(top, #fc3f3f 0%, #a6a6a6 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #000000;

}

.button_CRASH_CAR:hover {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f78b8b;
    background-image: -moz-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -webkit-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%)!important;
    background-image: -o-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -ms-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0);
    background-image: linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa;
    -moz-box-shadow: 0px 0px 2px #bababa;
    box-shadow: 0px 0px 2px #bababa;

}

.button_CRASH_CAR:active {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f78b8b;
    background-image: -moz-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -webkit-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%)!important;
    background-image: -o-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -ms-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0);
    background-image: linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa;
    -moz-box-shadow: 0px 0px 2px #bababa;
    box-shadow: 0px 0px 2px #bababa;

}

.button_CRASH_CAR:focus {
    padding: 2px 4px;
    border: solid 1px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    background-color: #f78b8b;
    background-image: -moz-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -webkit-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%)!important;
    background-image: -o-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    background-image: -ms-linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#d6d6d6', GradientType=0);
    background-image: linear-gradient(top, #f78b8b 0%, #d6d6d6 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa;
    -moz-box-shadow: 0px 0px 2px #bababa;
    box-shadow: 0px 0px 2px #bababa;

}
.button_AT_CALL{text-decoration:none; text-align:center;
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#fc7272;
    background-image: -moz-linear-gradient(top, #fc7272 0%, #ff0000 100%);
    background-image: -webkit-linear-gradient(top, #fc7272 0%, #ff0000 100%)!important;
    background-image: -o-linear-gradient(top, #fc7272 0%, #ff0000 100%);
    background-image: -ms-linear-gradient(top, #fc7272 0% ,#ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0 );
    background-image: linear-gradient(top, #fc7272 0% ,#ff0000 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #000000;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;

}.button_AT_CALL:hover{
     padding:2px 4px;
     border:solid 1px #000000;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius: 4px;
     font:20px Arial, Helvetica, sans-serif;
     font-weight:bold;
     color:#000000;
     background-color:#f5a6a6;
     background-image: -moz-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
     background-image: -webkit-linear-gradient(top, #f5a6a6 0%, #fc4949 100%)!important;
     background-image: -o-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
     background-image: -ms-linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4949', endColorstr='#fc4949',GradientType=0 );
     background-image: linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
     -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

 }.button_AT_CALL:active{
       padding:2px 4px;
       border:solid 1px #000000;
       -webkit-border-radius:4px;
       -moz-border-radius:4px;
       border-radius: 4px;
       font:20px Arial, Helvetica, sans-serif;
       font-weight:bold;
       color:#000000;
       background-color:#f5a6a6;
       background-image: -moz-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
       background-image: -webkit-linear-gradient(top, #f5a6a6 0%, #fc4949 100%)!important;
       background-image: -o-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
       background-image: -ms-linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4949', endColorstr='#fc4949',GradientType=0 );
       background-image: linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
       -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

   }.button_AT_CALL:focus{
        padding:2px 4px;
        border:solid 1px #000000;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius: 4px;
        font:20px Arial, Helvetica, sans-serif;
        font-weight:bold;
        color:#000000;
        background-color:#f5a6a6;
        background-image: -moz-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
        background-image: -webkit-linear-gradient(top, #f5a6a6 0%, #fc4949 100%)!important;
        background-image: -o-linear-gradient(top, #f5a6a6 0%, #fc4949 100%);
        background-image: -ms-linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4949', endColorstr='#fc4949',GradientType=0 );
        background-image: linear-gradient(top, #f5a6a6 0% ,#fc4949 100%);
        -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

    }
.button_PASSED_BRIGADE{text-decoration:none; text-align:center;
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#ab9677;
    background-image: -moz-linear-gradient(top, #ab9677 0%, #ad6800 100%);
    background-image: -webkit-linear-gradient(top, #ab9677 0%, #ad6800 100%)!important;
    background-image: -o-linear-gradient(top, #ab9677 0%, #ad6800 100%);
    background-image: -ms-linear-gradient(top, #ab9677 0% ,#ad6800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad6800', endColorstr='#ad6800',GradientType=0 );
    background-image: linear-gradient(top, #ab9677 0% ,#ad6800 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #000000;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;

}.button_PASSED_BRIGADE:hover{
     padding:2px 4px;
     border:solid 1px #000000;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius: 4px;
     font:20px Arial, Helvetica, sans-serif;
     font-weight:bold;
     color:#000000;
     background-color:#d4b483;
     background-image: -moz-linear-gradient(top, #d4b483 0%, #d98f20 100%);
     background-image: -webkit-linear-gradient(top, #d4b483 0%, #d98f20 100%)!important;
     background-image: -o-linear-gradient(top, #d4b483 0%, #d98f20 100%);
     background-image: -ms-linear-gradient(top, #d4b483 0% ,#d98f20 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98f20', endColorstr='#d98f20',GradientType=0 );
     background-image: linear-gradient(top, #d4b483 0% ,#d98f20 100%);
     -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

 }.button_PASSED_BRIGADE:active{
       padding:2px 4px;
       border:solid 1px #000000;
       -webkit-border-radius:4px;
       -moz-border-radius:4px;
       border-radius: 4px;
       font:20px Arial, Helvetica, sans-serif;
       font-weight:bold;
       color:#000000;
       background-color:#d4b483;
       background-image: -moz-linear-gradient(top, #d4b483 0%, #d98f20 100%);
       background-image: -webkit-linear-gradient(top, #d4b483 0%, #d98f20 100%)!important;
       background-image: -o-linear-gradient(top, #d4b483 0%, #d98f20 100%);
       background-image: -ms-linear-gradient(top, #d4b483 0% ,#d98f20 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98f20', endColorstr='#d98f20',GradientType=0 );
       background-image: linear-gradient(top, #d4b483 0% ,#d98f20 100%);
       -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
  }
.button_PASSED_BRIGADE:focus{
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#d4b483;
    background-image: -moz-linear-gradient(top, #d4b483 0%, #d98f20 100%);
    background-image: -webkit-linear-gradient(top, #d4b483 0%, #d98f20 100%)!important;
    background-image: -o-linear-gradient(top, #d4b483 0%, #d98f20 100%);
    background-image: -ms-linear-gradient(top, #d4b483 0% ,#d98f20 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98f20', endColorstr='#d98f20',GradientType=0 );
    background-image: linear-gradient(top, #d4b483 0% ,#d98f20 100%);
    -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
}
.button_RELAXON{text-decoration:none; text-align:center;
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#ffffff;
    background-image: -moz-linear-gradient(top, #ffffff 0%, #b5b4b1 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #b5b4b1 100%)!important;
    background-image: -o-linear-gradient(top, #ffffff 0%, #b5b4b1 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0% ,#b5b4b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b4b1', endColorstr='#b5b4b1',GradientType=0 );
    background-image: linear-gradient(top, #ffffff 0% ,#b5b4b1 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #000000;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;

}.button_RELAXON:hover{
     padding:2px 4px;
     border:solid 1px #000000;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius: 4px;
     font:20px Arial, Helvetica, sans-serif;
     font-weight:bold;
     color:#000000;
     background-color:#fffefc;
     background-image: -moz-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
     background-image: -webkit-linear-gradient(top, #fffefc 0%, #d4d4d4 100%)!important;
     background-image: -o-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
     background-image: -ms-linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4',GradientType=0 );
     background-image: linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
     -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

 }.button_RELAXON:active{
       padding:2px 4px;
       border:solid 1px #000000;
       -webkit-border-radius:4px;
       -moz-border-radius:4px;
       border-radius: 4px;
       font:20px Arial, Helvetica, sans-serif;
       font-weight:bold;
       color:#000000;
       background-color:#fffefc;
       background-image: -moz-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
       background-image: -webkit-linear-gradient(top, #fffefc 0%, #d4d4d4 100%)!important;
       background-image: -o-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
       background-image: -ms-linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4',GradientType=0 );
       background-image: linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
       -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
  }
.button_RELAXON:focus{
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#fffefc;
    background-image: -moz-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
    background-image: -webkit-linear-gradient(top, #fffefc 0%, #d4d4d4 100%)!important;
    background-image: -o-linear-gradient(top, #fffefc 0%, #d4d4d4 100%);
    background-image: -ms-linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4',GradientType=0 );
    background-image: linear-gradient(top, #fffefc 0% ,#d4d4d4 100%);
    -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

}

.button_HIJACKING{text-decoration:none; text-align:center;
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#ff0000;
    background-image: -moz-linear-gradient(top, #ff0000 0%, #ffff00 100%);
    background-image: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 100%);
    background-image: -o-linear-gradient(top, #ff0000 0%, #ffff00 100%);
    background-image: -ms-linear-gradient(top, #ff0000 0% ,#ffff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00',GradientType=0 );
    background-image: linear-gradient(top, #ff0000 0% ,#ffff00 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #000000;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #000000;

}.button_HIJACKING:hover{
     padding:2px 4px;
     border:solid 1px #000000;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius: 4px;
     font:20px Arial, Helvetica, sans-serif;
     font-weight:bold;
     color:#000000;
     background-color:#f74a4a;
     background-image: -moz-linear-gradient(top, #f74a4a 0%, #faff69 100%);
     background-image: -webkit-linear-gradient(top, #f74a4a 0%, #faff69 100%);
     background-image: -o-linear-gradient(top, #f74a4a 0%, #faff69 100%);
     background-image: -ms-linear-gradient(top, #f74a4a 0% ,#faff69 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faff69', endColorstr='#faff69',GradientType=0 );
     background-image: linear-gradient(top, #f74a4a 0% ,#faff69 100%);
     -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;

 }.button_HIJACKING:active{
       padding:2px 4px;
       border:solid 1px #000000;
       -webkit-border-radius:4px;
       -moz-border-radius:4px;
       border-radius: 4px;
       font:20px Arial, Helvetica, sans-serif;
       font-weight:bold;
       color:#000000;
       background-color:#f74a4a;
       background-image: -moz-linear-gradient(top, #f74a4a 0%, #faff69 100%);
       background-image: -webkit-linear-gradient(top, #f74a4a 0%, #faff69 100%);
       background-image: -o-linear-gradient(top, #f74a4a 0%, #faff69 100%);
       background-image: -ms-linear-gradient(top, #f74a4a 0% ,#faff69 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faff69', endColorstr='#faff69',GradientType=0 );
       background-image: linear-gradient(top, #f74a4a 0% ,#faff69 100%);
       -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
   }
.button_HIJACKING:focus{
    padding:2px 4px;
    border:solid 1px #000000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:20px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#f74a4a;
    background-image: -moz-linear-gradient(top, #f74a4a 0%, #faff69 100%);
    background-image: -webkit-linear-gradient(top, #f74a4a 0%, #faff69 100%);
    background-image: -o-linear-gradient(top, #f74a4a 0%, #faff69 100%);
    background-image: -ms-linear-gradient(top, #f74a4a 0% ,#faff69 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faff69', endColorstr='#faff69',GradientType=0 );
    background-image: linear-gradient(top, #f74a4a 0% ,#faff69 100%);
    -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
}
.x-accordion-hd .x-panel-header-text-container {
    right: 0 !important;
    left: auto !important;
}
.x-panel-header-default-horizontal .x-tool-after-title {
    left: 0 !important;
    right: auto !important;
}
.button_confirm{text-decoration:none; text-align:center;
    padding:7px 7px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:13px Arial, Helvetica, sans-serif;
    color:#000000;
    background:#ffdb4d;
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

}.button_confirm:hover{
     padding:7px 7px;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius: 4px;
     font:13px Arial, Helvetica, sans-serif;
     color:#000000;
     cursor: pointer;
     background:#ffdb4d;
     -webkit-box-shadow:0px 0px 2px #cfcfcf, inset 0px 0px 4px #999999;
     -moz-box-shadow: 0px 0px 2px #cfcfcf,  inset 0px 0px 4px #999999;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
     box-shadow:0px 0px 2px #cfcfcf, inset 0px 0px 4px #999999;

 }.button_confirm:active{
      padding:7px 7px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius: 4px;
      font:13px Arial, Helvetica, sans-serif;
      color:#000000;
      background:#ffdb4d;
      -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
      -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
       -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
       user-select: none;
      box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

  }