.x-accordion-hd .x-panel-header-text-container {
    right: 0 !important;
    left: auto !important;
}

.x-panel-header-default-horizontal .x-tool-after-title {
    right: 0 !important;
    left: auto !important;
}

.panel-history .x-tool-after-title, .panel-brigade .x-tool-after-title {
    left: 0 !important;
    right: auto !important;
}

.x-form-display-field {
    font-family: tahoma, arial, verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.x-grid-group-hd {
    white-space: normal !important;
}

.icon-textfield:before {
    position: absolute;
    height: 100%;
    z-index: 9999;
    left: 5px;
    font-size: 15px;
    top: 15%;
}

.icon-textfield .x-form-text {
    padding-left: 20px;
}

.hr-all {
    margin-bottom: 5px;
    margin-top: 5px;
}